body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  /* color: #1b1b1b; */
  color: #101826; /* Updated color */
  line-height: 1.6;
  overflow-x: hidden;
}
h2 {
  width: 100%;
  margin: 20px auto;
}
p {
  width: 100%;
  margin-left: 5px;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fefffe;
  color: #101826;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
}
/* Footer styles */
.footer {
  background-color: linear-gradient(45deg, #333, #b0afaf);
  color: white;
  padding: 30px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .menu li {
  margin: 0;
  padding: 0;
  position: relative;
}

nav .menu .icon,
.dark-mode-toggle {
  text-decoration: none;
  position: relative;
  padding: 0 1rem;
}

nav .menu .icon:after,
.dark-mode-toggle:after {
  content: "";
  position: absolute;
  background-color: #121212;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  transform-origin: left center;
  transform: scaleX(0);
}

nav .menu .icon:hover:after,
.dark-mode-toggle:hover:after {
  width: 100%;
  transform: scaleX(1);
}

.menu-toggle,
.dark-mode-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 10px;
}
.menu-toggle {
  display: none;
}
/* Mobile screens */

.btn {
  display: inline-block;
  background-color: #333;
  color: #fefffe;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
}

.btn:hover {
  background-color: #444;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
.footer {
  background-color: #292929;
  color: #f2f4f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 15px 40px;
  text-align: center;
}
.bg-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #292929;
  padding: 15px 40px;
  text-align: center;
  font-size: 1.2rem;
}
.bg-social a {
  background-color: inherit;
  transition: transform 0.3s, font-size 0.3s;
  display: inline-block;
}

.bg-social a:hover {
  transform: rotate(4deg);
}

.icon-bg a:hover {
  transform: rotate(4deg) scale(1.1);
}

.heroImage {
  width: auto;
  height: 20rem;
  border-radius: 50%;
  background-position: inherit;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-image {
  margin-top: 1rem;
  justify-content: center;
  min-height: 70vh;
  display: flex;
  gap: 80px;
  align-items: center;
}
.icon {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  margin-right: 20px;
}
.section-image h1 {
  font-size: 40px;
  font-weight: 700;
}
.section-image p {
  font-size: inherit;
  font-weight: 500;
  margin-top: -30px;
  margin-bottom: 30px;
}
.big-text {
  font-size: 30px;
  font-weight: 700;
}
.get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.get-in-touch img {
  border-radius: 50%;
  margin-left: -100px;
}
.form {
  width: 100%;
  margin: 20px 90px 20px 50px;
}
.form .btn {
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 12px;
  padding: 16px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid lightgray;
  /* background-image: linear-gradient(45deg, #f3f3f3, #e6e6e6); */
  border-radius: 12px;
}
.input:hover {
  border: 2px solid #101826;
}
.msg {
  padding-bottom: 6rem;
}

.icon-bg {
  font-size: 30px;
}
.contain {
  max-width: 1200px;
}
.timeline {
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
}
.timeline h1 {
  color: #fefffe;
  font-size: 30px;
  background-color: #101826;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 50px;
  position: relative;
  width: 40%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 3s;
}
.container:nth-child(3) {
  animation-delay: 6s;
}

.text-box {
  padding: 20px 30px;
  background: #f2f4f7;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
  /* padding: inherit -10px; */
}
.container img {
  position: absolute;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #f2f4f7;
  /* background-color: #f2f4f7; */
  right: -40px;
  margin-top: 15px;
  z-index: 10;
}
.right-container img {
  left: -50px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 6px;
  background: #f2f4f7;
  top: 60px;
  left: 50%;
  margin-left: -18px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 68%;
  }
}
.text-box h2 {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f2f4f7;
  left: -14px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f2f4f7;
  right: -14px;
}
.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 25px;
  margin: 50px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
.transition-ease {
  transition: all 0.25s ease-out;
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .contain {
    max-width: 800px;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 500px;
  }
  .right-container {
    left: 60%;
  }
  .skills-section {
    display: block;
    width: 100%;
  }
  .get-in-touch {
    display: block;
  }
  .get-in-touch img {
    left: 50%;
  }
  /* .container {
    width: 100%;
    padding-right: 25px;
    padding-left: 80px;
  } */
  /* .text-box {
    font-size: 13px;
    margin-left: 30px;
  }
  .text-box small {
    margin-bottom: 10px;
  }

  .left-container img,
  .right-container img {
    left: 17px;
    margin-top: 8px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #f2f4f7;
    border-left: 0;
    left: -15px;
  } */
}

@media screen and (max-width: 768px) {
  /* Mobile styles here */
  body {
    overflow-x: hidden;
  }
  .contain {
    max-width: 600px;
    align-items: center;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 370px;
  }
  .skills-section {
    width: 100%;
  }
  .skills-section p,
  h1 {
    margin-left: 100px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .footer {
    width: 600px;
  }
  /* .menu-toggle {
    display: contents;
  } */
  /* nav a {
    display: none;
  } */
  /* .contain {
    width: 100%;
  } */
  .section-image {
    width: 100%;
  }
  section {
    margin: 50px auto;
  }
  .section-image {
    display: block;
    width: 100%;
  }
  .section-image p {
    margin-left: 135px;
    margin-top: -10px;
  }
  .bg-social {
    display: block;
  }
  .section-image img {
    display: inline-block;
    margin-left: 150px;
  }
  h1 {
    margin-left: 120px;
    margin-top: 0px;
    width: 100%;
  }
  .btn {
    margin-left: 120px;
    margin-top: 10px;
    margin-right: -90px;
    width: 100%;
    text-align: center;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 80px;
  }
  .container {
    width: 100%;
    padding-right: 25px;
    padding-left: 80px;
  }
  .text-box {
    font-size: 13px;
    margin-left: 30px;
    width: 100%;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 17px;
    margin-top: 8px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #f2f4f7;
    border-left: 0;
    left: -15px;
  }
  .skills-section {
    display: block;
    width: 100%;
  }
  .skills-section p {
    margin-left: 150px;
    margin-top: 50px;
  }
}

.dark-mode {
  background-color: #121212;
  color: #fefffe;
}

.dark-mode nav a {
  color: #121212;
}
.dark-mode h2,
small {
  color: #121212;
}
.dark-mode p {
  color: #fefffe;
}
.dark-mode .container p {
  color: #121212;
}
.dark-mode .bg-social .icon {
  color: #fefffe;
}
